<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ar" >
<head>
  <meta charset="UTF-8">
  <title>BoBy</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body >
  

    <section>
        <div class="card">
          <div class="face">
            <h3>BOT BoBY</h3>
            <img src="/templates/imgs/Boby.png" class="img2"> 
            <p> Please write your name :</p>
            <div class="group">
              <input id="name" placeholder="Your Name.." type="text" aria-label="Name"  class="input" data-type="Name" required>
            </div>
            <div class="group">
              <input id="check" type="checkbox" class="check" checked>
              <label for="check" class="check"><span class="icon"></span> Remember me</label>
            </div>
            <div class="group">
              <a href="index.html">
              <input type="submit" class="button2" value="Submit">
              </a>
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a href="Start.html">
                <input type="submit" class="button1" value="Cancel i am fine :)">
                </a>
            </div>
            </div>
          </div>
          </div>
        </div>
      </section>

  

</body>
</html>
